<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2025 McGraw Lab. 
              


		   <p>  </p><p>


		</div>
		
		<div class="col-sm-4">
		<p>
		<!--	We are part of the <a href="https://www.physik.lmu.de/en//">Faculty of Physics</a> at the<a href="https://www.lmu.de"> University of Munich (LMU)</a>. We are still associated with the <a href="https://www.physics.leidenuniv.nl/">Leiden Institute of Physics</a>, where most of our instrument are.
		-->
		<a href="https://www.northwestern.edu/">Northwestern University</a>
		<a href="https://www.neurology.northwestern.edu/">Department of Neurology</a>
		<a href="https://www.neurology.northwestern.edu/research/research-areas/neurophysiology-epilepsy/index.html">Division of Epilepsy</a>
		
		</p>
		</div>

		<div class="col-sm-4">
		  <!-- Contact:<br />	Geschwister-Scholl-Platz 1<br />
		  80539 München<br />
		  Germany <br />
		-->
		<p>
		<a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">About</a>
		</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
